<h1>Editing validator</h1>

<%= render "form", validator: @validator %>

<br>

<div>
  <%= link_to "Show this validator", @validator %> |
  <%= link_to "Back to validators", validators_path %>
</div>
