<div id="<%= dom_id transaction %>">
  <p>
    <strong>Txn hash:</strong>
    <%= transaction.txn_hash %>
  </p>

  <p>
    <strong>Validator:</strong>
    <%= transaction.validator_id %>
  </p>

</div>
